---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Date...",
    title: "Position Title",
    company: "Company Name",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sem lorem, volutpat ut dui vel, placerat egestas urna. Nulla quis pellentesque massa. Praesent sagittis dui nec mi sollicitudin interdum. Vivamus sapien dui, interdum eget maximus non, blandit in sem.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "March 2025",
    title: "Position Title",
    company: "Company Name",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sem lorem, volutpat ut dui vel, placerat egestas urna. Nulla quis pellentesque massa. Praesent sagittis dui nec mi sollicitudin interdum. Vivamus sapien dui, interdum eget maximus non, blandit in sem.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
