---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "March 2025 - Present",
    title: "Software Engineer",
    company: "",
    description:
      "Experienced in developing systems for LGUs and NGAs, building business management applications, and creating web solutions using WordPress and custom CRMs.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "2024 - 2025",
    title: "Application Developer",
    company: "",
    description:
      "Application developer with experience in building business management systems that streamline operations and improve overall efficiency.",
  },
  {
    date: "2021 - 2024",
    title: "Web Developer",
    company: "",
    description:
      "Web developer with experience in creating web solutions, including WordPress websites and custom CRM platforms tailored to business needs.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
